
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin-top: 1.0em;
  background-color: #b5196a;
  background-color: #fff;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #ffffff;
  color: #000;
}
.titleFont,
h1,
h2,
h3 {
  font-family: LeagueGothicRegular, Helvetica, Arial, FreeSans, san-serif;
}
h1 { font-size: 3.8em; color: #4c989f; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 2.0em; color: #4c989f; }
h3 { font-size: 1.75em; color: #888; }

h1 { font-size: 5.0em; }
h2 { font-size: 3.0em; }
h3 { font-size: 2.0em; }
h2 { color: #4c989f; }
h2 { color: #888; }

a { color: #4c989f; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
/*
pre { background: #000; color: #fff; padding: 15px;}
*/
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

.theme-default #slider {
margin:100px auto 0 auto;
width:800px; /* Make sure your images are the same size */
height:600px; /* Make sure your images are the same size */
}

body {
	margin-bottom: 100px;
}

#container {
	position: relative;
  margin: 0 auto;
  width: 670px;
}

.sidebar {
	position: absolute;
	left: 700px;
	top: 10px;
	padding: 18px;
	width: 200px;
/*
	border: 1px solid #eee;
*/
}

.sidebar > div {
	padding-bottom: 18px;
}

.main { 
/*
	border: 1px solid #eee;
*/
}

.download_title {
/*
font-size: 18pt;
*/
}

.download { 
}

.social {
}

.social > iframe,
.social > div {
	padding-bottom: 18px;
}	

.menu a {
}

.menu .menu0 a {
}

.menu .menu0 {
	padding-bottom: 10px;
}

.gist {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item_title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tutorial_index div {
	padding: 0 0 10px 10px;
}

.tutorial_sidebar div {
	padding: 0 0 10px 10px;
}